<div class="product-list-container">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productItem of sortedData">
        <td>{{ productItem.assignedTo }}</td>
        <td>{{ productItem.status }}</td>
        <td>{{ productItem.dueDate }}</td>
        <td>{{ productItem.priority }}</td>
        <td>{{ productItem.comments }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openEditModal(productItem)">
            Edit
          </button>
        </td>
        <td>
          <i class="material-icons cursor-pointer text-danger" (click)="openDeleteModal(productItem)">delete</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" [class.show]="isEditModalOpen" [style.display]="isEditModalOpen ? 'block' : 'none'" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
        <button type="button" class="btn-close" (click)="isEditModalOpen = false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form [product]="selectedProduct" (submit)="editProduct()" (close)="isEditModalOpen = false"></app-form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [class.show]="isDeleteModalOpen" [style.display]="isDeleteModalOpen ? 'block' : 'none'" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
        <button type="button" class="btn-close" (click)="isDeleteModalOpen = false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="isDeleteModalOpen = false">No</button>
        <button type="button" class="btn btn-danger" (click)="removeProduct(selectedProduct.id)">Yes</button>
      </div>
    </div>
  </div>
</div>
